.container {
    margin: 10px;
    width: 100%;
    justify-content: end;
}

#heading {
    display: flex;
    justify-content: space-around;
}

#heading button {
    width: 120px;
    align-items: center;
    border: none;
    margin: 3px;
    border-radius: 10px;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.order button {
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    background-color: dodgerblue;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
}

.order button:hover {
    box-shadow: 0 0 11px dodgerblue;
}

.container h2 {
    text-align: center;
    justify-content: flex-end;
}

#submit {
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

#submit:hover {
    box-shadow: 0 0 11px dodgerblue;
}

/************** CART ITEM *************/

.item {
    display: flex;
    justify-content: space-around;
}

#row {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    border-radius: 10px;
    margin:5px;
}

#item h6 {
    width: 50%;
    display: flex;
    border-radius: 10px;
}

#notes {
    color: dodgerblue;
    display: flex;
    align-items: center;
}