.sidebar {
    height: 100%;
    width: 200px;
    margin-right: 20px;
}

.title {
    display: flex;
    align-items: center;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    align-items: center;
}

.SidebarList .row:hover {
    cursor: pointer;
    color: dodgerblue;
}

.SidebarList #active {
    color: dodgerblue;
}

.row #icon {
    width: 20px;
    height: 20px;
    flex: 20%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 100%;
}

#pro-plan {
    width: 140px;
    height: 140px;
    margin: 40px;
    align-self: flex-end;
    border: 2px lightgray solid;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 5px lightgray);
    background-color: white;
}

#pro-plan:hover {
    background-color: dodgerblue;
}