.Option {
    width: 50%;
    margin: 10px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
}

.Option-button {
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 15px;
    padding: 5px;
}

.Option-button:hover {
    background-color: dodgerblue;
    color: white;
    box-shadow: 0 0 11px dodgerblue;
}

.alteration {
    padding: 10px;
    text-align: left;
}

.price {
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 10px;
}

.price:hover {
    background-color: white;
    color: black;
}